{% extends "base.html" %}

{% block nav %}
<li id="home"><a href="/">Home</a></li>
<li><a href="/add">Submit a document</a></li>
<li><a href="/about">About</a></li>
{% endblock %}

{% block content %}
	<h1>{{e.title}}</h1>
	
	<div class="info">
		<!-- should make this into a cool calendar -->
		<div class="from">
			<h2>Requested from</h2>
			<a href="/source/{{e.agency.id}}">{{e.source}}</a>
		</div>
		<div class="by">
			<h2>By</h2>
<!-- not going to link contributors for a while
			<a href="/by/{{posterUrl}}">{{e.poster}}</a>
-->
			{{e.poster}}
		</div>
		<div>
			<div class="requested">
				<h2>Requested</h2>
				{{e.date_requested}}
			</div>
			<div class="filled">
				<h2>Recieved</h2>
				{{e.date_filed}}
			</div>
			<div class="posted">
				<h2>Posted</h2>
				{{e.date_posted}}
			</div>
		</div>
	</div>
	
	{{e.narrative}}

{% endblock %}